#!/bin/bash

LOGFILE={{ myproject_path_log }}/gunicorn.log
NUM_WORKERS=4
WORKER_TIMEOUT=300
ADDRESS=127.0.0.1:5000
cd {{ myproject_path_root }}
source {{ myproject_path_main }}/{{ myproject_virtualenv }}/bin/activate
exec gunicorn {{ myproject_name }}:app -w $NUM_WORKERS --bind=$ADDRESS \
  --timeout=$WORKER_TIMEOUT \
  --log-level=debug \
  --timeout=$WORKER_TIMEOUT \
  --pythonpath={{ myproject_path_root }} \
  --log-file=$LOGFILE 2>>$LOGFILE

