[program:{{ myproject_name }}]
directory={{ myproject_path_root }}
user={{ myproject_user }}
environment=HOME="~{{ myproject_user }}",
command={{ myproject_path_main }}/run-gunicorn.sh
stdout_logfile={{ myproject_path_log }}/supervisor.log
stderr_logfile={{ myproject_path_log }}/supervisor.err
chown={{ myproject_user }}:{{ myproject_group }}
